<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vue Basics</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <header>
    <h1>Monster Slayer</h1>
  </header>
  <div id="game">
    <section id="monster" class="container">
      <h2>Monster Health</h2>
      <div class="healthbar">
        <div class="healthbar_value" :style="monsterBarStyles"></div>
      </div>
    </section>
    <section id="player" class="container">
      <h2>YOUR Health</h2>
      <div class="healthbar">
        <div class="healthbar_value" :style="playerBarStyles"></div>
      </div>
    </section>
    <section class="container" v-if="winner">
      <h3>GAME OVER!</h3>
      <h3 v-if="winner === 'monster'">You Lost!</h3>
      <h3 v-else-if="winner === 'player'">You Win!</h3>
      <h3 v-else>It's a draw!</h3>
      <button @click="startGame">Start New Game!</button>
    </section>
    <section id="controls" v-else>
      <button @click="attackMonster">ATTACK</button>
      <button :disabled="mayuseSpecialAttack" @click="specialAttackMonster">SPECIAL ATTACK</button>
      <button @click="healPlayer">HEAL</button>
      <button @click="surrender">SURRENDER</button>
    </section>
    <section id="log" class="container">
      <h2>battle log</h2>
      <ul>
        <li v-for="logMessage in logMessages">
          <span :class="{'log--palyer': logMessage.actionBy === 'player','log--monster': logMessage.actionBy === 'monster'}">{{ logMessage.actionBy === 'player' ? 'Player' : 'Monster' }}</span>
          <span v-if="logMessage.actionType === 'heal'">heals himself for <span class="log--heal">{{ logMessage.actionValue }}</span></span>
          <span v-else>
            attacks and deals <span class="log--damage"> {{ logMessage.actionValue }}</span>
          </span>
        </li>
      </ul>
    </section>
  </div>

</body>
<script src="./vue.js"></script>
<script>
  function getrandomValue(min,max) {
    return Math.floor(Math.random() * (max - min) + min);
  }

  const app = Vue.createApp({
    data() {
      return {
        monsterHealth: 100,
        playerHealth: 100,
        currentRound: 0,
        winner:null,
        logMessages: []
      }
    },
    computed: {
      monsterBarStyles() {
        if ( this.monsterHealth < 0){
          return { width: '0%'};
        }
        return{ width: this.monsterHealth + '%'};
      },
      playerBarStyles() {
        if (this.playerHealth< 0){
          return { width: '0%'};
        }
        return { width: this.playerHealth + '%'};
      },
      mayuseSpecialAttack() {
        return this.currentRound % 3 !== 0;
      }
    },
    watch: {
      playerHealth(value) {
        if ( value <= 0 && this.monsterHealth <= 0){
          this.winner = 'draw';
        } else if(value <= 0){
          this.winner = 'monster';
        }
        },
      monsterHealth(value) {
        if(value <= 0 && this.playerHealth <=0){
          this.winner = 'draw';
        } else if(value <= 0){
          this.winner = 'player';
        }
        }
    },
    methods: {
      startGame() {
        this.monsterHealth=100;
        this.playerHealth=100;
        this.currentRound=0;
        this.winner=null;
        this.logMessages=[];
      },
      attackMonster() {
        this.currentRound++;
        const attackValue = getrandomValue(5,12);
        this.monsterHealth -= attackValue;
        this.addLogMessage('player','attack',attackValue);
        this.attackPlayer();
      },
      attackPlayer() {
        const attackValue = getrandomValue(8,15);
        this.playerHealth -= attackValue;
        this.addLogMessage('monster','attack',attackValue);
      },
      specialAttackMonster() {
        this.currentRound++;
        const attackValue= getrandomValue(10,25);
        this.monsterHealth -= attackValue;
        this.addLogMessage('player','attack',attackValue);
        this.attackPlayer();
      },
      healPlayer() {
        this.currentRound++;
        const healValue = getrandomValue(8,20);
        if ( this.playerHealth + healValue > 100){
          this.playerHealth = 100;
        } else {
          this.playerHealth += healValue;
        }
        this.addLogMessage('player','heal',healValue);
        this.attackPlayer();
      },
      surrender() {
        this.winner = 'monster';
      },
      addLogMessage(who,what,value) {
        this.logMessages.unshift({
          actionBy:who,
          actionType:what,
          actionValue: value
        });
      }
    }
  });
  app.mount('#game');
</script>
</html>